
:root{
  --calmblack: #16242f;
  --calmblue: #19b2de;
  --calmgreen: #25c389;
  --calmyellow: #f8ba0d;
  --calmred: #de6262;
  --hrblue: #1bade6;
  --calmdarkblue: #166ba2;
  --textgrey: #494949;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  padding:0;
  margin:0;
}

h2{
  font-size: 1.4vw;
}

h4{
  color: white;
  font-size: 1vw;
  margin:0;
  margin-top: 1vw;
}

h5{
  color: grey;
  font-weight: lighter;
  font-size: 0.9vw;
  margin-top: 0;
  margin-bottom: 1vw;
}

p{
  line-height: 1.2vw;
  color: white;
}

.displayContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.card, .card-special {
  border: 5px solid blue;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}
.sectionFour img {
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  object-fit: cover;

}

.headerContainer{
  grid-template-columns: repeat(3, 1fr);
  height: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 0;
  padding: 0;
}

.headerTitleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 6.5vw;
  position: relative; 
  height: 50%;
  max-width: 100%;
  top: 2vw;
}

.headerTitleContainer h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2vw;
  font-weight: 100;
  max-width: 10%;
  width: 5%; 
  height: auto;
  position: absolute;
  top: 45%; 
  left: 20%;
  transform: translateY(-50%);
  
}

.logo {
  width: 15%;
  height: auto;
  position: absolute; 
  top: 80%;
  left: 127%;
  transform: translateY(-50%);
}

.headerImageContainer {
  display: flex;
  position: relative;
  top: -30%;
  left: 17%;
  max-width: 100%;
  height: 8vw;
}

.headerImageContainer p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 0.9vw;
  position: relative;
  top: 55%;
  right: 20%;

}

.headerImageContainer .arrowRight {
  max-width: 0.9vw;
  height: 0.9vw;
  position: relative;
  top: 68%;
  left: 50%;
}

.boxGreen,
.boxYellow,
.boxRed,
.boxBlue,
.boxNavy {
  box-sizing: border-box;
  flex-grow: 1; 
  aspect-ratio: 1 / 1;
  max-width: 20%;
  display: flex;
}


.icon {
  max-width: 30%;
  max-height: 30%;
  position: relative;
  left: 35%;
  top: 15%;
}

.boxGreen {
  background-color: #25C389;
}

.boxYellow {
  background-color: #FFB901;
}

.boxRed {
  background-color: #DE6262;
}

.boxBlue {
  background-color: #1691BD;
}

.boxNavy {
  background-color: #166BA2;
}
.sectionOne{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  width:100%;
  border:none;
  margin:0vh;
}

.sectionOneButtons {
  max-width: 100%;
  width: 30%; 
  height: auto;
  position: absolute;
  top: 50%; 
  left: 15%; 
  transform: translateY(-50%);
}

.buttonOne, .buttonTwo, .buttonThree {
  text-align: left;
  margin-right: 3%;
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 1.5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1px;
}


.buttonOne {
  background-color: rgb(235, 235, 235);
  width: fit-content; 
  border-left: 8px solid #166BA2;
}

.buttonTwo {
  background-color: rgb(235, 235, 235);
  width: fit-content; 
  border-left: 8px solid #DE6262;

}

.buttonThree {
  background-color: rgb(235, 235, 235);
  width: fit-content; 
  border-left: 8px solid #FFB901;

}

.sectionOneImage {
  position: relative; 
  width: 70%;
  height: 28.5vw;
  box-sizing: content-box;
}

.minions {
  width: 100%; 
  height: auto;
  display: block; 
}

.leftArrow {
  max-width: 10%;
  width: 5%; 
  height: auto;
  position: absolute;
  top: 50%; 
  left: 5%; 
  transform: translateY(-50%); 
}

.rightArrow {
  max-width: 10%;
  width: 5%; 
  height: auto;
  position: absolute;
  top: 50%; 
  right: 5%;
  transform: translateY(-50%);
}


.sectionTwo {
  text-align: center;
  max-width: 4;
}

.titleTwo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 2vw;
}

.titleTwo span {
  color: #1691BD;
}

.headerContainer, .sectionTwo, .sectionThree, .sectionFour, .sectionFive, .sectionSix, .sectionSeven, .sectionFooter{
  display:grid;
  width:60%;
  grid-gap:0.25em;
  padding:1em;
  margin:0.25em;
}
.headerSectionThree, .headerSectionFour, .headerSectionFive, .headerSectionSix, .footerInfo{
  border: 5px solid green;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 1.6vw;
  margin-bottom: 0.5vw;
}

.headerSectionThree h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 0.7vw;
  margin-top: 0.5vw;
  color: gray;
}

.sectionThree .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.sectionThree h3 {
  font-size: 1vw;
}

.cardOne, .cardTwo, .cardThree, .cardFour {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardOne {
  border: 2px solid #FFB901;
  height: 5rem;
  width: 5rem;
}

.cardTwo {
  border: 2px solid #25C389;
  height: 5rem;
  width: 5rem;
}

.cardThree {
  border: 2px solid #DE6262;
  height: 5rem;
  width: 5rem;
}

.cardFour {
  border: 2px solid #1691BD;
  height: 5rem;
  width: 5rem;
}

.sectionThree, .sectionFooter{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.headerSectionThree, .footerInfo{
  grid-column: span 4;
}

.sectionFour{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.headerSectionFour{
  grid-column: span 3;
}

.sectionFive{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.headerSectionFive{
  grid-column: span 3;
}

.sectionSix{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.headerSectionSix{
  grid-column: span 2;
}

.sectionSeven{
  grid-template-columns: repeat(5, 1fr);
  height:31.51px; 
}

.footerContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  background-color: black;
}

.footerInfoCard{
  border: 5px solid blue;
}





/* Small only */
@media screen and (max-width: 39.9375em) {
  .sectionOne, .sectionSix, .sectionSeven{
    display: none;
  }
  .footerInfoCard-2, .footerInfoCard-4{
    display:none;
  }
  .titleTwo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 4vw;
  }
  .headerTitleContainer h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vw;
    font-weight: 100;
    max-width: 10%;
    width: 5%; 
    height: auto;
    position: absolute;
    top: 45%; 
    left: 3%;
    transform: translateY(-50%);
    
  }
  .logo {
    width: 18%;
    height: auto;
    position: absolute; 
    top: 5.2vw;
    left: 133%;
    transform: translateY(-50%);
  }
  .headerSectionThree h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 4vw;
    margin-bottom: 0.5vw;
  }
  
  .headerSectionThree h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 1.6vw;
    margin-top: 0.5vw;
    color: gray;
  }

  .headerImageContainer {
    display: none;
    
  }
  .menuContainer {
    position: relative;
    max-width: 100%;
    height: auto;
    left: 30vw;
    top: 1.5vw;
  }
  .footerInfoCard-3{
    grid-row: auto auto auto;
    grid-column: 20vw 20vw;
  }
  .footerInfoCard-3 img{
    width:10vw;
  }
  .card-changeimg img{
    content: url('/img/cooimg.png')
  }
  .footerInfoCard-1{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .footerInfoCard-1 div, .footerInfoCard-1 p{
    display:none;
  }
  .footerInfoCard-1 img{
    width:40vw;
  }
  .footerInfo img{
    width:25vw;
    height:25vw;
  }
  p{
    line-height: 2.3vw;
    font-size: 2vw;
  }
  h6, h4{
    font-size: 2.4vw;
  }
  h2{
    font-size: 3vw;
  }
  h5{
    font-size: 1.5vw;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .card-superspecial{
    display:none;
  }
  .sectionOne{
    display:flex;
  }
  .sectionSix, .sectionSeven{
    display: grid;
  }
  .sectionSeven{
    grid-template-columns: repeat(5, 1fr);
    height:fit-content;  
  }
  .menuContainer {
    display: none;
  }
  .footerInfoCard-1 img{
    grid-row:3/4;
    width:15vw;
  }
  p{
    font-size: 0.62vw;
  }
}


/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .sectionThree, .sectionFour, .sectionFive{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;  }
  
  .sectionFooter{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
  }

  .titleTwo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 2.9vw;
  }
  .headerSectionThree, .footerInfo, .headerSectionFour, .sectionFour .card-special, .headerSectionFive {
    grid-column: span 2;
  }

  .headerSectionThree h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 2vw;
    margin-bottom: 0.5vw;
  }
  
  .headerSectionThree h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 1vw;
    margin-top: 0.5vw;
    color: gray;
  }

  .sectionFour .card-special img{
    content: url('/img/fourthimgspan.png')
  }

  .sectionFive{
    grid-template-rows: auto auto auto auto;
  }
  
  .sectionSix{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto;  }
  
  .headerSectionSix{
    grid-column: span 1;
  }
  .menuContainer {
    display: none;
  }
  .colorbardiv{
    grid-column: span 2;
    display:flex;
    justify-content: flex-end;
  }

  .colorbar{
    width:63%;
    height:2vw;
  }
}


/* Large and up */
@media screen and (min-width: 64em) {
  .sectionThree, .sectionFooter{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;  }
  
  .headerSectionThree, .footerInfo{
    grid-column: span 4;
  }
  
  .sectionFour{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }
  
  .headerSectionFour{
    grid-column: span 3;
  }
  
  .sectionFive{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
  }
  
  .headerSectionFive{
    grid-column: span 3;
  }
  
  .sectionSix{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
  
  .headerSectionSix{
    grid-column: span 2;
  }
  .menuContainer {
    display: none;
  }
  .colorbardiv{
    grid-column: span 4;
    display:flex;
    justify-content: flex-end;
  }

  .colorbar{
    width:33%;
    height:1.5vw;
  }

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}


