.displayContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.card, .card-special {
  border: 5px solid blue;
}

.headerContainer{
  grid-template-columns: repeat(3, 1fr);
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headerTitleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTitleContainer, .title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.headerTitleContainer, .logo {
  height: 1rem;
  width: 1rem;
  display: flex;
  margin-left: 1rem;
}

.headerImageContainer{
  border: 5px solid blue;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 12.5rem;
}

.boxGreen {
  width: 6.5rem;
  height: 6rem;
  background-color: #25C389;
}

.boxYellow {
  width: 6.5rem;
  height: 6rem;
  background-color: #FFB901;
}

.boxRed {
  width: 6.5rem;
  height: 6rem;
  background-color: #DE6262;
}

.boxBlue {
  width: 6.5rem;
  height: 6rem;
  background-color: #1691BD;
}

.boxNavy {
  width: 6.5rem;
  height: 6rem;
  background-color: #166BA2;
}

.sectionOne{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  width:100%;
  border:none;
  margin:0.25vh;
}

.sectionOneList{

}

.sectionOneImage{
  width:70%;
  height:30vw;
  border: 5px solid red;
  box-sizing: content-box;
}
.sectionOneImage img {
  max-width: 100%;
  height: auto;
}

.sectionTwo, .title {
  text-align: center;
}

.headerContainer, .sectionTwo, .sectionThree, .sectionFour, .sectionFive, .sectionSix, .sectionSeven, .sectionFooter{
  display:grid;
  width:60%;
  grid-gap:0.25em;
  padding:1em;
  margin:0.25em;
  border: 5px solid red;
}
.headerSectionThree, .headerSectionFour, .headerSectionFive, .headerSectionSix, .footerInfo{
  border: 5px solid green;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.cardOne {
  border: 2px solid #FFB901;
  height: 5rem;
  width: 5rem;
}

.cardTwo {
  border: 2px solid #25C389;
  height: 5rem;
  width: 5rem;
}

.cardThree {
  border: 2px solid #DE6262;
  height: 5rem;
  width: 5rem;
}

.cardFour {
  border: 2px solid #1691BD;
  height: 5rem;
  width: 5rem;
}

.sectionThree, .sectionFooter{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.headerSectionThree, .footerInfo{
  grid-column: span 4;
}

.sectionFour{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.headerSectionFour{
  grid-column: span 3;
}

.sectionFive{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.headerSectionFive{
  grid-column: span 3;
}

.sectionSix{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.headerSectionSix{
  grid-column: span 2;
}

.sectionSeven{
  grid-template-columns: repeat(5, 1fr);
  height:31.51px; /*REMOVE*/
}

.footerContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  background-color: black;
}

.sectionFooter{

}
  
.footerInfo{

}

.footerInfoCard{
  border: 5px solid blue;
}

@media screen and (max-width: 40em) { 
  .sectionThree, .sectionFour, .sectionFooter, .sectionFive{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .headerSectionThree, .footerInfo, .headerSectionFour, .sectionFour .card-special, .headerSectionFive {
    grid-column: span 2;
  }

  .sectionFive{
    grid-template-rows: repeat(4, 1fr);
  }
  
  .sectionSix{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .headerSectionSix{
    grid-column: span 1;
  }

}

