.displayContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.card, .card-special, .card-superspecial{
  border: 5px solid blue;
}

.card-superspecial{
  display:none;
}

.headerContainer{
  grid-template-columns: repeat(3, 1fr);
  background-color: lightgrey;
  display:grid;
  width:60%;
  grid-gap:0.25em;
  padding:1em;
  margin:0.25em;
  border: 5px solid red;
}

.headerTitleContainer{
  border: 5px solid green;
}

.headerImageContainer{
  grid-column: 2/4;
  border: 5px solid blue;
}

.sectionOne{
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  width:100%;
  border:none;
  margin:0.25vh;
}

.sectionOneList{

}

.sectionOneImage{
  width:70%;
  height:30vw;
  border: 5px solid red;
}

.sectionTwo, .sectionThree, .sectionFour, .sectionFive, .sectionSix, .sectionSeven, .sectionFooter{
  display:grid;
  width:60%;
  grid-gap:0.25em;
  padding:1em;
  margin:0.25em;
  border: 5px solid red;
}

.headerSectionThree, .headerSectionFour, .headerSectionFive, .headerSectionSix, .footerInfo{
  border: 5px solid green;
}

.sectionOne, .sectionSix, .sectionSeven{
  display: none;
}
.sectionThree, .sectionFour, .sectionFive{
  grid-template-columns: repeat(1, 1fr);
}
.headerSectionThree, .headerSectionFour, .headerSectionFive{
  grid-column: span 1;
}
.headerSectionThree{
  
}
.sectionThree, .sectionFour{
  grid-template-rows: repeat(5, 1fr);
}
.sectionFive{
  grid-template-rows: repeat(7, 1fr);
}

.footerContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  background-color: black;
}

.sectionFooter{

}
  
.footerInfo{

}

.footerInfoCard{
  border: 5px solid blue;
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .sectionThree, .sectionFour, .sectionFooter, .sectionFive{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .headerSectionThree, .footerInfo, .headerSectionFour, .sectionFour .card-special, .headerSectionFive {
    grid-column: span 2;
  }

  .sectionFive{
    grid-template-rows: repeat(4, 1fr);
  }
  
  .sectionSix{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .headerSectionSix{
    grid-column: span 1;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .sectionSix, .sectionSeven{
    display: grid;
  }
  .sectionOne{
    display:flex;
  }
  .sectionThree, .sectionFooter{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  .headerSectionThree, .footerInfo{
    grid-column: span 4;
  }
  
  .sectionFour{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  .headerSectionFour{
    grid-column: span 3;
  }
  
  .sectionFive{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .headerSectionFive{
    grid-column: span 3;
  }
  
  .sectionSix{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  .headerSectionSix{
    grid-column: span 2;
  }
  
  .sectionSeven{
    grid-template-columns: repeat(5, 1fr);
    height:31.51px; /*REMOVE*/
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}


